[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
sqlalchemy = "< 1.4.0"
apache-airflow = "==2.3.3"
airflow-db-logger = "==2.0.2"
kubernetes = "*"
zthreading = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
